:root {
    --primary-color: #C778DD;
    --secundary-color: #9263e9;
    --gray: #ABB2BF;
    --background-color: #282C33;
}


/* alignment-test
.hero-text, #nav-left, .skills-title, .about-title, .contact-title {border-left: 1px solid red;}
#contato {border-right: 1px solid red;}  */


html, body {
  overflow-x: hidden;
}

body {
  background-color: var(--background-color);
  color: white;
  font-family: "Fira Code", monospace;
  margin: 0;
}

.page-container {
  max-width: 1100px;   
  margin: 0 auto;      
  padding: 0 2rem;     
}

/* Section: Social media */

.social-media {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
    gap: 1rem;
}

ul {
    display: flex;
    position: absolute;
    top: 190px;
    left: -15px;
    flex-direction: column;
    gap: 10px;
    transform: translate(-50%, -50%);
}

ul li {
    list-style: none;
}

ul li a {
    width: 30px;
    height: 30px;
    background-color: var(--background-color);
    text-align: center;
    line-height: 30px;
    font-size: 12.5px;
    margin: 0 4px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 1px solid var(--background-color);
    z-index: 1;
}

ul li a .icon {
    position: relative;
    color: var(--primary-color);
    transition: .5s;
    z-index: 3;
}

ul li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
}

ul li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
}

ul li a:hover:before {
    top: 0;
}

ul li:nth-child(1) a:before{
    background: #000000;
}

ul li:nth-child(2) a:before{
    background: #25d366;
}

ul li:nth-child(3) a:before {
    background: #0077b5;
}

ul li:nth-child(4) a:before {
    background: #f09433; 
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );;
}

/* end of Section: Social media */

.vertical-line {
    background-color: var(--primary-color);
    width: 2px;
    height: 100px;
    margin: 0 auto;
}

.github > a {
    color: inherit;
    text-decoration: inherit;
}

.linkedin > a {
    color: inherit;
    text-decoration: inherit;
}

.whatsapp > a {
    color: inherit;
    text-decoration: inherit;
}

/* Section: Random Shapes */

.ws > img{
    width: 100px;
    height: 100px;
}

.square {
    border:0.5px solid var(--gray);
}

.dots {
    display: grid;
    grid-template-columns: repeat(5, 15px);
    grid-template-rows: repeat(5, 15px);
    gap: 1px; 
}

.dot {
    width: 4px;
    height: 4px;
    background-color: #b0b6c3;
    border-radius: 50%;
}

/* Section 0: dots */

.d1 {
    position: absolute;
    top: 460px;
    left: -31px;
}

.d2 {
    position: absolute;
    top: 1200px;
    right: -43px;
}

.d3 {
    position: absolute;
    top: 1850px;
    left: -31px;
}

.d4 {
    /* hero dots */
    position: relative;
    top: 70px;
    left: 680px;
    z-index: 5;
}


/* Section: squares */

.s1 {
    position: absolute;
    padding: 45px;
    top: 200px;
    right: -1px;
}

.s2 {
    position: absolute;
    padding:80px;
    top: 1150px;
    left: -1px
}

.s3 {
    position: absolute;
    padding: 60px;
    top: 1750px;
    right: -1px;
}

.s4 {
    /* hero square */
    position: relative;
    padding: 40px;
    top: -100px;
    left: 620px;
    z-index: 5;
}

/* Section: weird-shapes */

.ws1 {
    /* hero weird shape */
    position: relative;
    top: -60px;
    left: 720px;
}

/* Section: Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.5rem;
}

.language-switcher {
  position: relative;
}

.custom-dropdown {
  position: relative;
  display: inline-block;
  font: inherit;
  color: inherit;
}

.custom-dropdown .selected {
  border: 1px solid var(--primary-color);
  background: none;
  color: inherit;
  font: inherit;
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: border-color 0.3s ease, color 0.3s ease;
}

.custom-dropdown .selected:hover {
  border-color: var(--secundary-color);
  color: var(--secundary-color);
}

.custom-dropdown.active .selected {
  border-color: var(--secundary-color);
}

.custom-dropdown .options {
  position: absolute;
  top: 85px;
  left: 65px;
  width: 100%;
  background: #1a1a1a;
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  list-style: none;
  margin: 0;
  padding: 4px 0;
  box-shadow: 0 6px 16px rgba(0,0,0,0.35);
  display: none;
  min-width: 130px;
  overflow: hidden;
  z-index: 100;
}

.custom-dropdown .options li {
  padding: 8px 12px;
  color: #ccc;
  cursor: pointer;
  transition: color 0.25s ease, background 0.25s ease;
  position: relative;
}

.custom-dropdown .options li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: linear-gradient(to right, var(--primary-color), var(--secundary-color));
  transition: width 0.3s ease;
}

.custom-dropdown .options li:hover::after {
  width: 100%;
}

.custom-dropdown .options li:hover {
  color: #fff;
}

.custom-dropdown.active .options {
  display: block;
}

#nav-left > h1 {
    font-size: 15px;
}

#nav-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

#nav-right > a {
  text-decoration: none;
  display: inline-block;
  margin-right: 16px;
  color: inherit;
  position: relative;
  font: inherit;
}

.hashtag {
  color: var(--primary-color);
  margin-right: 2px;
}

.hover-underline::after,
.hover-underline::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.4s ease-out;
}

.hover-underline::after {
  bottom: 0;
  transform-origin: left;
  background: linear-gradient(to left, var(--primary-color), var(--secundary-color));
}

.hover-underline::before {
  top: 0;
  transform-origin: right;
  background: linear-gradient(to right, var(--primary-color), var(--secundary-color));
}

.hover-underline:hover::after,
.hover-underline:hover::before {
  transform: scaleX(1);
}

/* Section 2: Hero */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10rem;
}


.hero-text {
    margin-left: -261px;
    margin-right: 6rem;
}

.hero-text > h1 {
    font-size: 35px;
}

.hero-image-container {
  position: relative;
  text-align: center;
  margin-right: -144px;
}

.status-bar {
    position: relative;
    width: 60%;
    margin-top: 0;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    color: #e0e0e0;
    padding: 8px 16px;
    border-radius: 6px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    border: 1px solid var(--primary-color);
}

.status-dot {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    width: 10px;
    height: 10px;
    border-radius: 2px;
}

.status-text-r {
    padding: 5px;
    margin-left: auto;
    font-weight: 600;
    margin-right: 3rem;
    text-decoration-line: underline;
    text-decoration-color: var(--primary-color);
    text-decoration-thickness: 2px;
    text-underline-offset: 7px;
    text-underline-position: 5px;
}

.btn-outline-light {
    border-color: var(--primary-color);
}

/* Section: Skills */
.skills {
    display: flex;
    justify-content: space-between;
    margin-top: 10rem;
    color: white;
}

.skills-left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.skills-title {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.5rem;
}

.hashtag {
    color: #C778DD;
}

#line-skills {
    width: 500px;
    height: 1px;
    background-color: #C778DD;
    opacity: 0.5;
}

.skills-shapes {
    margin-top: 1rem;
}

.skills-shapes img {
    float: left;
    width: 350px;
    opacity: 0.8;
    margin-bottom: 10rem;
}

.skills-grid {
    margin-top: 8rem;
    margin-right: 5rem;
    display: grid;
    height: 30px;
    grid-template-columns: 1fr 1fr ;
    gap: 20px;
    justify-items: center;
}

.skills-grid div {
    border: 1px solid var(--primary-color);
    padding: 10px 18px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 14px;
    transition: all 0.2s ease;
    width: 10rem;
}

.skills-grid div i {
    font-size: 18px;
    color: var(--primary-color);
}

.skills-grid div:hover {
    border-color: var(--secundary-color);
    color: var(--secundary-color);
    transform: scale(1.05);
}

/* Section: Sobre mim */

.about {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 700px;
}

.about-title {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.5rem;
}

#line-about {
    width: 457px;
    height: 1px;
    background-color: #C778DD;
    opacity: 0.5;
}

.about-text{
    color: #a6a6a7;
    max-width: 450px;
    margin-top: 1rem;
    font-size: 0.75rem;
    line-height: 2.5;
}

.about-image-container {
    margin-top: 4rem;
}

/* Section: Contact-me */

.contact {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 250px;
}

.contact-title {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.5rem;
}

#line-contact {
    width: 457px;
    height: 1px;
    background-color: #C778DD;
    opacity: 0.5;
}

.contact-text {
    color: #a6a6a7;
    max-width: 450px;
    margin-top: 4rem;
    font-size: 0.75rem;
    line-height: 2.5;
}

.contact-box {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid var(--gray);
    margin-top: 5.5rem;
    width: fit-content;
}

.contact-top {
    flex-basis: 25%;
    border-bottom: 1px solid var(--gray);
    margin: 0 -10px 1rem -10px;
    padding-bottom: 0.5rem;
    text-align: center;
    ;
}

.contact-items {
    margin-bottom: -10px;
}

.contact-items > i{
    text-align: center;
}

/* Section: Footer */

.footer {
    text-align: center;
    margin-top: 10rem;
}

.footer-refs > a {
    position: relative;
    display: inline-block;
    margin: 0 1rem 1rem 0;
    text-decoration: none;
    color: inherit;
    font: inherit;
    transition: color 0.2s ease-in-out;
}

.footer-refs > .hashtag {
    color: var(--primary-color);
    margin-right: 2px;
    cursor: pointer;
}

.footer-refs > a::before,
.footer-refs > a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.4s ease-out;
}

.footer-refs > a::before {
    top: 0;
    transform-origin: right;
    background: linear-gradient(to right, var(--primary-color), var(--secundary-color));
}

.footer-refs > a::after {
    bottom: 0;
    transform-origin: left;
    background: linear-gradient(to left, var(--primary-color), var(--secundary-color));
}

.footer-refs > a:hover::before,
.footer-refs > a:hover::after {
    transform: scaleX(1);
}

.footer-name {
    margin-top: 2rem;
    margin-bottom: 3rem;
}